Flask==2.0.1
Werkzeug==2.0.1
pymongo[srv]==3.12.0
python-dotenv==0.19.0
gunicorn==20.1.0
qrcode==7.3
Pillow==8.3.1
requests==2.26.0
beautifulsoup4==4.9.3
plotly==5.3.1
numpy==1.24.3
pandas==2.0.3
bcrypt==3.2.0
validators==0.18.2
dnspython==2.1.0
